.create-study-plans-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.create-study-plans-create-study-plans {
  width: 100%;
  height: 462px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.create-study-plans-rectangle20 {
  top: 0px;
  left: 0px;
  width: 369px;
  height: 462px;
  position: absolute;
  border-radius: 24px;
}
 
.create-study-plans-text10 {
  top: 18px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 100%;
}
 
.create-study-plans-button {
  gap: 8px;
  top: 417px;
  left: 111px;
  width: 161px;
  height: 32px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.create-study-plans-text11 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.create-study-plans-confirm-study-plan-use-case-final-exam {
  top: 159px;
  left: 11px;
  width: 348px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plans-text12 {
  top: 40px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-text13 {
  top: 7px;
  left: 100px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-text14 {
  top: 23px;
  left: 120px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plans-clock1 {
  top: 58px;
  left: 13px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.create-study-plans-text15 {
  top: 60px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-calendar1 {
  top: 38px;
  left: 13px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.create-study-plans-confirm-study-plan-design-lifecycle-final-exam {
  top: 56px;
  left: 10px;
  width: 348px;
  height: 82px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plans-text16 {
  top: 38px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-calendar2 {
  top: 36px;
  left: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.create-study-plans-text17 {
  top: 5px;
  left: 98px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-text18 {
  top: 21px;
  left: 134px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plans-clock2 {
  top: 56px;
  left: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.create-study-plans-text19 {
  top: 58px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plans-link {
  display: contents;
}
 
.create-study-plans-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.create-study-plans-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.create-study-plans-text20 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
