.create-study-plan2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.create-study-plan2-create-study-plan2 {
  width: 100%;
  height: 462px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.create-study-plan2-group64 {
  top: 0px;
  left: 0px;
  width: 369px;
  height: 462px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
 
.create-study-plan2-group631 {
  top: 56px;
  left: 172px;
  width: 66px;
  height: 28.485549926757812px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plan2-button1 {
  gap: 8px;
  top: 113px;
  left: 284px;
  width: 72px;
  height: 25px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(117, 117, 117, 1);
}
 
.create-study-plan2-text10 {
  top: 19px;
  left: 35px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 100%;
}
 
.create-study-plan2-group61 {
  top: 56px;
  left: 36px;
  width: 250px;
  height: 41.30805587768555px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.create-study-plan2-text11 {
  top: 8px;
  left: 84px;
  color: rgba(0, 0, 0, 1);
  width: 166px;
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 16px;
}
 
.create-study-plan2-text12 {
  left: 38px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plan2-icon1 {
  top: 3px;
  left: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.create-study-plan2-text13 {
  top: 248px;
  left: 81px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plan2-text14 {
  top: 108px;
  left: 74px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plan2-group31 {
  top: 140px;
  left: 65px;
  width: 109px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plan2-text15 {
  top: 13px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.create-study-plan2-group62 {
  top: 190px;
  left: 65px;
  width: 109px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plan2-text16 {
  top: 13px;
  left: 25px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.create-study-plan2-group632 {
  top: 280px;
  left: 65px;
  width: 292px;
  height: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.create-study-plan2-file {
  top: 111px;
  left: 36px;
  width: 25px;
  height: 25px;
  position: absolute;
}
 
.create-study-plan2-roundedrectangle {
  top: 143px;
  left: 187px;
  width: 109px;
  height: 41px;
  position: absolute;
  border-radius: 24px;
}
 
.create-study-plan2-text17 {
  top: 152px;
  left: 201px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.create-study-plan2-text18 {
  top: 287px;
  left: 74px;
  color: rgba(0, 0, 0, 1);
  width: 271px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plan2-edit {
  top: 252px;
  left: 37px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.create-study-plan2-text19 {
  top: 108px;
  left: 298px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.create-study-plan2-button2 {
  gap: 8px;
  top: 414px;
  left: 115px;
  width: 161px;
  height: 32px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.create-study-plan2-text20 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.create-study-plan2-link {
  display: contents;
}
 
.create-study-plan2-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.create-study-plan2-icon2 {
  width: 24px;
  margin-right: 4px;
}
 
.create-study-plan2-text21 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
