.study-plans-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.study-plans-study-plans {
  width: 100%;
  height: 852px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.study-plans-rectangle14 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.study-plans-rectangle15 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.study-plans-rectangle16 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.study-plans-button1 {
  gap: 8px;
  top: 740px;
  left: 116px;
  width: 161px;
  height: 32px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.study-plans-text10 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.study-plans-navigation-bar-verticalitems {
  top: 788px;
  left: 0px;
  width: 393px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.study-plans-navitem01 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.study-plans-iconcontainer1 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.study-plans-statelayer1 {
  width: 56px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.study-plans-icon1 {
  width: 24px;
  height: 24px;
  z-index: 1;
}
 
.study-plans-text11 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-navitem02 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.study-plans-iconcontainer2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.study-plans-statelayer2 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.study-plans-icon2 {
  width: 24px;
  height: 24px;
}
 
.study-plans-text12 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.study-plans-navitem03 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.study-plans-iconcontainer3 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 247, 255, 1);
}
 
.study-plans-statelayer3 {
  width: 56px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.study-plans-icon3 {
  width: 24px;
  height: 24px;
}
 
.study-plans-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.study-plans-navitem04 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.study-plans-iconcontainer4 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.study-plans-statelayer4 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.study-plans-icon4 {
  width: 24px;
  height: 24px;
}
 
.study-plans-text14 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.study-plans-navitem05 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.study-plans-iconcontainer5 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.study-plans-statelayer5 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.study-plans-icon5 {
  width: 24px;
  height: 24px;
}
 
.study-plans-text15 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.study-plans-rectangle17 {
  top: 0px;
  left: 0px;
  width: 393px;
  height: 60px;
  position: absolute;
}
 
.study-plans-text16 {
  top: 14px;
  left: 133px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 32px;
}
 
.study-plans-group {
  top: 16px;
  left: 350px;
  width: 28px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.study-plans-accountcircle {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}
 
.study-plans-group42 {
  top: 70px;
  left: 13px;
  width: 371px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.study-plans-rectangle41 {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 115px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.001230000052601099) ;
}
 
.study-plans-text17 {
  top: 15px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-text18 {
  top: 37px;
  left: 140px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-group451 {
  top: 71px;
  left: 136px;
  width: 100px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.study-plans-button2 {
  gap: 8px;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.study-plans-text19 {
  left: 35px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-group44 {
  top: 195px;
  left: 13px;
  width: 371px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.study-plans-rectangle42 {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 115px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.001230000052601099) ;
}
 
.study-plans-text20 {
  top: 15px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-text21 {
  top: 42px;
  left: 132px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-group452 {
  top: 71px;
  left: 136px;
  width: 100px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.study-plans-button3 {
  gap: 8px;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.study-plans-text22 {
  left: 35px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.study-plans-link {
  display: contents;
}
 
.study-plans-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.study-plans-icon6 {
  width: 24px;
  margin-right: 4px;
}
 
.study-plans-text23 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
