.confirm-upload-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.confirm-upload-confirm-upload {
  width: 100%;
  height: 558px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.confirm-upload-confirm-upload-rectangle {
  top: 0px;
  left: 0px;
  width: 369px;
  height: 558px;
  position: absolute;
  border-radius: 24px;
}
 
.confirm-upload-text10 {
  top: 19px;
  left: 35px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 100%;
}
 
.confirm-upload-text11 {
  top: 54px;
  left: 83px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 100%;
}
 
.confirm-upload-text12 {
  top: 282px;
  left: 87px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 100%;
}
 
.confirm-upload-button {
  gap: 8px;
  top: 506px;
  left: 134px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.confirm-upload-text13 {
  top: 505px;
  left: 160px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.confirm-upload-confirm-upload-file23 {
  top: 446px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text14 {
  top: 12px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit1 {
  top: 11px;
  left: 136px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-confirm-upload-file21 {
  top: 313px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text15 {
  top: 13px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit2 {
  top: 11px;
  left: 136px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-confirm-upload-file13 {
  top: 219px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text16 {
  top: 13px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 78px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit3 {
  top: 11px;
  left: 136px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-confirm-upload-file22 {
  top: 379px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text17 {
  top: 12px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit4 {
  top: 11px;
  left: 136px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-confirma-upload-file12 {
  top: 154px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text18 {
  top: 12px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit5 {
  top: 11px;
  left: 136px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-confirm-upload-file11 {
  top: 88px;
  left: 28px;
  width: 179px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(244, 247, 255, 1);
}
 
.confirm-upload-text19 {
  top: 10px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 84px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
 
.confirm-upload-edit6 {
  top: 97px;
  left: 164px;
  width: 20px;
  height: 20px;
  position: absolute;
}
 
.confirm-upload-link {
  display: contents;
}
 
.confirm-upload-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.confirm-upload-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.confirm-upload-text20 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
