.courses-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.courses-courses {
  width: 100%;
  height: 854px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
 
.courses-rectangle5 {
  top: 2px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.courses-rectangle6 {
  top: 2px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.courses-rectangle9 {
  top: 2px;
  left: 0px;
  width: 393px;
  height: 852px;
  position: absolute;
}
 
.courses-button1 {
  gap: 8px;
  top: 742px;
  left: 118px;
  width: 161px;
  height: 32px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.courses-text10 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  text-align: left;
  line-height: 24px;
}
 
.courses-navigation-bar-verticalitems {
  top: 790px;
  left: 0px;
  width: 393px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.courses-navitem01 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
 
.courses-iconcontainer1 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.courses-statelayer1 {
  width: 56px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.courses-icon1 {
  width: 24px;
  height: 24px;
  z-index: 1;
}
 
.courses-text11 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-navitem02 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.courses-iconcontainer2 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(244, 247, 255, 1);
}
 
.courses-statelayer2 {
  width: 56px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.courses-icon2 {
  width: 24px;
  height: 24px;
}
 
.courses-text12 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.courses-navitem03 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.courses-iconcontainer3 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.courses-statelayer3 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.courses-icon3 {
  width: 24px;
  height: 24px;
}
 
.courses-text13 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.courses-navitem04 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.courses-iconcontainer4 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.courses-statelayer4 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.courses-icon4 {
  width: 24px;
  height: 24px;
}
 
.courses-text14 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.courses-navitem05 {
  gap: 4px;
  display: flex;
  padding: 6px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.courses-iconcontainer5 {
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
}
 
.courses-statelayer5 {
  gap: 10px;
  width: 56px;
  height: 32px;
  display: flex;
  padding: 4px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.courses-icon5 {
  width: 24px;
  height: 24px;
}
 
.courses-text15 {
  color: var(--dl-color-m3_sys_light-onsurfacevariant);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
}
 
.courses-rectangle8 {
  top: 2px;
  left: 0px;
  width: 393px;
  height: 60px;
  position: absolute;
}
 
.courses-text16 {
  top: 16px;
  left: 152px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 32px;
}
 
.courses-accountcircle {
  top: 18px;
  left: 350px;
  width: 28px;
  height: 28px;
  position: absolute;
}
 
.courses-group24 {
  top: 198px;
  left: 13px;
  width: 371px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.courses-rectangle41 {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 115px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.001230000052601099) ;
}
 
.courses-text17 {
  top: 16px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-text18 {
  top: 38px;
  left: 129px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-button2 {
  gap: 8px;
  top: 67px;
  left: 41px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.courses-text19 {
  top: 66px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-button3 {
  gap: 8px;
  top: 68px;
  left: 230px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(98, 102, 111, 1);
}
 
.courses-text20 {
  top: 67px;
  left: 259px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-group25 {
  top: 72px;
  left: 13px;
  width: 371px;
  height: 115px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.courses-rectangle42 {
  top: 0px;
  left: 0px;
  width: 371px;
  height: 115px;
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.001230000052601099) ;
}
 
.courses-text21 {
  top: 15px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-text22 {
  top: 38px;
  left: 129px;
  color: rgba(98, 102, 111, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-button4 {
  gap: 8px;
  top: 67px;
  left: 41px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(59, 130, 246, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 80, 255, 1);
}
 
.courses-text23 {
  top: 66px;
  left: 76px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-button5 {
  gap: 8px;
  top: 68px;
  left: 230px;
  width: 100px;
  height: 30px;
  display: flex;
  padding: 16px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(117, 117, 117, 1);
}
 
.courses-text24 {
  top: 67px;
  left: 259px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Bold;
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.courses-link {
  display: contents;
}
 
.courses-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.courses-icon6 {
  width: 24px;
  margin-right: 4px;
}
 
.courses-text25 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
